<% if notice.present? %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>

<% if alert.present? %>
  <div class="alert alert-danger">
    <%= alert %>
  </div>
<% end %>

<h2><%= t("imports.csv_file_import") %></h2>

<turbo-frame id="csv_preview">
  <%= render partial: "form" %>
</turbo-frame>

<%= link_to t("imports.go_to_dashboard"), dashboards_show_path, class: "btn btn-primary mt-4" %>