<h2><%= t("dashboard.title") %></h2>

<div id="dashboard" data-placeholder="<%= t('dashboard.select_show') %>">
  <%= form_with url: dashboards_show_path, method: :get, local: true do %>
    <div class="mb-3">
      <%= select_tag :show_id, 
            options_for_select([[t('dashboard.all_shows'), 'all']] + Show.all.map { |s| [s.title, s.id] }, params[:show_id]), 
            include_blank: false, 
            class: "form-control select2" %>
    </div>

    <%= submit_tag t('dashboard.filter'), class: "btn btn-primary" %>
  <% end %>
</div>


<div class="mt-4">
  <p><strong><%= t('dashboard.reservation_count') %>:</strong> <%= @reservation_count %></p>
  <p><strong><%= t('dashboard.unique_buyers_count') %>:</strong> <%= @unique_buyers %></p>
  <p><strong><%= t('dashboard.average_buyers_age') %>:</strong> <%= @average_age.zero? ? "N/A" : t("dashboard.years", age: @average_age) %>
</p>
  <p><strong><%= t('dashboard.average_show_price') %>:</strong> <%= number_to_currency(@average_price_per_perf, unit: "€") %></p>
</div>

<%= link_to t('dashboard.back_to_import'), new_import_path, class: "btn btn-secondary mt-4" %>
